<mat-toolbar color="primary">
  <button (click)="sidenav.toggle()" mat-mini-fab>
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    {{title}}
  </span>
  <span class="spacer"></span>

  <button mat-button (click)="openCreateUser()">Create User</button>
  <ng-container *ngIf="authService.username;then username else login"></ng-container>
  <ng-template #login>
    <button mat-button (click)="openLogin()">Login</button>
  </ng-template>
  <ng-template #username>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
      {{authService.username}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logout()">Logout</button>
    </mat-menu>
  </ng-template>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <nav>
      <a mat-button class="nav-link" *ngFor="let link of links" [routerLink]="link.path" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div class="app-content" [@routerAnimations]="prepareRouterState(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
  </div>
</mat-sidenav-container>
